<div class="content" role="main">

  <!-- Terminal -->
  <div class="terminal">
    <div class="">
        <select (change)="setUser($event.target.value)">
            <option></option>
            <option *ngFor="let u of users" [value]="u.id">{{u.name}}</option>
        </select>
    </div>
    <div class="contacts">
        <div class="contact" *ngFor="let u of contacts" (click)="setChat(u)">
            <img src="/assets/avatar/{{u.id}}.jpg">
            <br>
            <span>{{u.name}}</span>
        </div>
    </div>    
    <div class="messages">
        <div class="message" *ngFor="let m of messages">
            <b>{{m.from}}</b>: {{m.message}}
        </div>
        <div class="message" *ngFor="let m of chat.dialog">
            <b>{{m.from}}</b>: {{m.message}}
        </div>
    </div>    
    <div class="form">
        <input type="text" name="user" [(ngModel)]="user.name" autocomplete="off" />
        <br>
        <input type="text" name="message" [(ngModel)]="user.message" (keyup)="$event.keyCode == 13 && sendMessage()" >
        <br>
        <button type="button" (click)="sendMessage()">Send</button>
    </div>    
  </div>
</div>